<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Student Name: {{ student.first_name }} {{ student.last_name }}</h3>
    <p> Email Address: {{ student.email_address }} </p>
    <p> Phone Number: {{ student.phone_number }} </p>
    <p> Student Gender: {{ student.student_gender }} </p>
    <p> Student Address: {{ student.student_address }} </p>
    {% for department in studnet_department.all %}
    <em> {{ department }} </em>
    {% endfor %}
    <p> Date of Birth: {{ student.date_of_birth }} </p>
</body>
</html>